.cart{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    margin-top: 50px ; 
}
.cartItemTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #808080;
    text-align: center;
}
.cartItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}