
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 3vw ;
    position: sticky;
    top: 0;
    z-index: 10000;
    background-color: white;
    /* padding: 0 3vw; */
}   

.logo{
    width: 150px;
}

.navbar-links{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    color: var(--text-colo );
}

.navbar-links li a{
    color: var(--text-colo);
    display: inline-block;
    cursor: pointer;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}

.navbar-links .active{
    border-bottom: 2px solid var(--text-colo);
}


.navbar-right{
    display: flex;
    align-items: center;
    gap: 30px;
}

.search{
    cursor: pointer;
}

.navbar-search-icon{
    position: relative;
    cursor: pointer;
}

.dot{
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: tomato;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.sign-in{
    background-color: transparent;
    font-size: 16px;
    color: var(--text-colo);
    border: 1px solid tomato;
    border-radius: 50px;
    cursor: pointer;
    padding: 8px 25px;
    transition: .2s;
}

.sign-in:hover{
    background-color: #fff4f2;
}

.bar{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
    border-radius: 5px;
    cursor: pointer;
}

.bar span{
    width: 22px;
    height: 2px;
    background-color: tomato;
}

.close{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 3%;
    left: 80%;
}

.close span{
    width: 25px;
    height: 1px;
    background-color: white;
}
.close span:nth-child(1){
    transform: rotate(50deg);
}
.close span:nth-child(2){
    transform: rotate(-50deg);
}

@media (max-width: 900px ) {
    .logo{
        width: 120px;
    }
    .navbar-links{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 15px;
    }
    .sign-in{
        font-size: 14px;
        padding: 6px 18px;
    }
    .search,
    .cartImg{
        width: 25px;
    }
}
@media (max-width:767px ) {
    .bar{
        display: flex;
    }
    .navbar-links{
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(255, 99, 71, 0.99);
        flex-direction: column;
        width: 60%;
        height: 100vw;
        z-index: 100;
        justify-content: center;
        align-items: center;
        color: white;
        margin-left: -20px;
        transition: .3s;
        transform: translateX(-150%);
        border-radius: 0 0 15px 0 ;
    }
    .navbar-links.Visible{
        transform: translateX(0);
    }
    .navbar-links li a{
        color: white;
    }
    .close{
        display: flex;
    }
}


@media (max-width:600px ) {
    .navbar{
        padding: 20px 10px  ;
        border-bottom: 2px solid tomato;
    }   
    .logo{
        width: 100px;
    }
    .navbar-right{
        gap: 10px;
    }
    .sign-in{
        font-size: 14px;
        padding: 5px 10px;
    }
    .search,
    .cartImg{
        width: 20px;
    }
    .bar{
        padding: 7px;
        gap: 6px;
    }
}